h1 {
    text-align: center;
    background-color: darkblue;
    color: white;
}

input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 15px;
    float: left;
    width: 77%;
    background: #f1f1f1;
    margin-right: 5px;
}

#searchBtn {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 15px;
    border-left: none;
    cursor: pointer;
}

#searchBtn:hover {
    background: #0b7dda;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    cursor: pointer;
}

li:last-child {
    border-bottom: 1px solid black;
}

li:hover {
    background-color: lightgrey;
}

#cityWeather {
    border: 2px solid grey;
}

.card {
    background-color: #2196F3;
}

.card-body {
    color: white;
    padding: 0.5rem;
}

.card-body p {
    font-size: 0.9rem;
}